## PyMongo Template Code

IS MONGODB INSTALLED?
mongod --version

IF YES:

IF NO:

IS PYMONGO INSTALLED?
import pymongo
print(pymongo.__version__)

IF ERROR:
WINDOWS ONLY conda install -c anaconda pymongo OR pip install pymongo==3.12.3

In [ ]:
#import pymongo
from pymongo import MongoClient

#connect to a mongoDB server
client = MongoClient("localhost", 27017) #27017 is not random, reserved for mongoDB
db = client['db_name']
coll = client['coll_name']

#
# your code here
#

#close the connection
client.close()

#### Insert, drop

In [ ]:
#add DB
mydb = client["database_name"]
#add collection (aka 'table')
coll = mydb["collection_name"]

In [ ]:
#import data file
import json
data=json.load("json_filename")

#insert json into mongodb
coll.insert_many(data)

#insert many, manually
db.coll.insert_many([
    {"name":"John", "class":"23S6B"},
    {"name":"Peter", "class":"23S6D"}
    ])

#insert one
db.coll.insert_one({"name":"John", "class":"23S6E"})

In [ ]:
#list databases in server
list_of_names = client.database_names()
print(list_of_names)

#list collections in db
db = client["database_name"]
list_of_names = db.list_collection_names()
print(list_of_names)

#get indexes
coll.get_indexes()
coll.get_index_keys()

['admin', 'local']
[]

C:\Users\yiann\AppData\Local\Temp\ipykernel_30828\3203949961.py:2: DeprecationWarning: database_names is deprecated. Use list_database_names instead.
  list_of_names = client.database_names()

In [ ]:
#drop DB
client.drop_database("database_name")
#drop collection
mydb.drop_collection("collection_name")

#### Filter (regex)

In [ ]:
query={} #filter conditions
projections={"Title":1,"page":1} #display format: 1 is show, 0 is hide

result=coll.find(query, projections)
print(result)

In [ ]:
coll.insert_many(A)
db.coll.insert_many([
    {"name":"John", "class":"23S6B"},
    {"name":"Peter", "class":"23S6D"}
    ])

coll.insert_one(A)
db.coll.insert_one({"name":"John", "class":"23S6E"})

In [ ]:
query = {'Name':'Bob'}
projection = {'Name':1, 'Category':1}
result = coll.find(query, projection).sort([('Category',1), ('Name', -1)]).limit(10)
#1 for show, 0 for do not show

for x in result:
	print("{:<50}{:<50}".format(x['Name'],x['Category']))